*{
    box-sizing: border-box;
}


.container-inicio{
    margin-top: 80px;
}

h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-style: italic;
    font-size: xx-large;
    margin-top: 20px;
    margin-left: 40px;
    }

/**Foto de  Perfil*/
#foto{
    margin-top: 5px;
}

.listas{
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: unset;
}

/**Formulario*/
.formulario{
    margin-top: 20px;
    background-color: rgb(120, 161, 187, 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
}
.miForm{
    width: 90%;
    margin: auto;
    
}

#btnForm{
    width: 100%;
    margin-bottom: 10px;
}

#verReferencias{
    
    margin-top: 40px;
}

p{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
      Geneva, Verdana, sans-serif;
}


/**Media Queris, Pantalla Moviles*/
@media (max-width: 768px){

    #logo{
        width: 130px;
        height: 39px;
    }
}

@media (max-width: 576px){
    #nombre{
        font-size: 22px;
    }

    #titulo{
        font-size: 15px;
    }

    #logo{
        width: 100px;
        height: 30px;
    }

    .listas{
        font-size: 15px;
    }
    
    h4{
        font-size: 25px;
    }
}

@media (max-width: 370px){

    #logo{
        width: 80px;
        height: 24px;
    }

    #nombre{
        margin-top: auto;
        
    }

    #titulo{
        margin-top: auto;
    }

    
}

@media (max-width: 330px){

    #logo{
        width: 60px;
        height: 18px;
    }

    #tituloBarra{
        font-size: 10px;
    }

    #nombre{
        font-size: 15px;
        margin-top: auto;
        
    }

    #titulo{
        font-size: 10px;
        margin-top: auto;
        
    }

    h4{
        font-size: 20px;
    }

    .listas{
        font-size: 10px;
    }

    #sobreMi{
        font-size: 10px;
    }

    
}




